<html>
	<head>
		<title>Stock Screener</title>

		<link href="{{ url_for('static', path='/assets/vendor/semantic-ui/2.4.2/semantic.min.css') }}" rel="stylesheet" />
		<script src="{{ url_for('static', path='/assets/vendor/jquery/3.6.0/jquery.js') }}"></script>
		<script src="{{ url_for('static', path='/assets/vendor/semantic-ui/2.4.2/semantic.min.js') }}"></script>
	</head>

	<body>
		<div class="ui container">
			<h1>Stock Screener</h1>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
